body {
    font-family: Arial, sans-serif;
    text-align: center;
    background-color: #020202;
    margin: 0;
    padding: 0;
    background: linear-gradient(black, rgb(0, 0, 46), rgb(111, 0, 195), rgb(144, 0, 98));
    color: #f0f0f0;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center; /* Added this line */
    min-height: 100vh;
}

header {
    background-color: #040800;
    background-image: url(main.jpg);
    color: #f0f0f0;
    
    padding: 20px;
    width: 100%; /* Added this line */
    box-sizing: border-box; /* Added this line */
}

main {
    padding: 20px;
    width: 100%; 
    max-width: 800px; 
    box-sizing: border-box; 
    display: flex;
    flex-direction: column;
    align-items: center;
}

section {
    margin: 20px 0;
    width: 100%; 
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
}

button1{
    padding: 10px 20px;
    font-size: 16px;
    cursor: pointer;
    background-color: #f9dc01;
    color: rgb(0, 0, 0);
    border: none;
    border-radius: 5px;

}

button1 :hover {
    background-color: #555;
}

ul {
    list-style-type: none; 
    padding: 0;
    display: flex; 
    flex-wrap: wrap; 
    justify-content: center; /
  }
  li {
    margin-bottom: 10px;
    width: 50%; 
    box-sizing: border-box; 
    padding: 0 10px; 
  }
  button {
    width: 100%;
    padding: 10px 20px;
    font-size: 16px;
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
    transition: background-color 0.3s;
  }
  button:hover {
    background-color: #45a049;
  }
  #result {
    font-size: 18px;
    margin-top: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
    padding: 20px;
    width: 100%; 
    max-width: 800px; 
    box-sizing: border-box; 
    display: flex;
    flex-direction: column;
    align-items: center;
}
  
